<div class="row">
  <div class="col-8">
  <h2 class="text-capitalize"><%= @meeting.title %></h2>
  </div>
  <div class="col-4">
    <div class="float-right">
      <% @meeting.users.each do |user|  %>

        <%
          highlight = ""
          if @meeting.host == user
            highlight = "meeting-host"
          end
        %>
        <%= cl_image_tag(user.image, :class => "rounded-circle #{highlight}", :width => 35, :height => 35,
     :crop => :thumb, :gravity => :face) %>

      <% end %>
    </div>
  </div>
</div>


<hr>


<div class="row">
  <div class="col-6">
    <p class="text-muted font-weight-light"><%= @meeting.start.strftime('%A, %d %b %Y %l:%M %p')  %>
      <span class="ml-2 d-inline-block align-middle badge badge-secondary"><%= @meeting.duration %> minutes</span>
    </p>

  </div>
  <div class="col-6">
    <div class="float-right">
      <%= link_to "Update", edit_meeting_path(@meeting), :class => 'btn btn-outline-info btn-sm' %>
      <%= link_to "Delete", meeting_path(@meeting), :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-outline-secondary btn-sm' %>
    </div>
  </div>
</div>





<div class="alert">
  <p><%= simple_format @meeting.description %></p>
</div>

<h5>Agenda</h5>
<ol>
  <li><%= @meeting.agenda1 %></li>
  <li><%= @meeting.agenda2 %></li>
  <li><%= @meeting.agenda3 %></li>
</ol>




<h5>Actions</h5>


<% (@meeting.actions.sort_by &:duedate).each do |action|  %>
<hr>

<div class="row ml-2">
<div class="col-1 align-middle d-table-cell">
  <br>

<% if action.is_done %>
  <i class="fa fa-check-circle text-info" style="font-size:30px"></i>
<% else  %>
  <i class="fa fa-spinner text-secondary" style="font-size:30px"></i>
<% end  %>

</div>
  <div class="col-7">

    <p>
      <%= simple_format action.description %> </p>

    <div class="float-left">

      <%
        mark_as_text = "mark as completed"
        if action.is_done
          mark_as_text = "mark as pending"
        end
      %>

      <%= link_to mark_as_text, complete_action_path(action), :method => 'put', :class => 'btn btn-sm btn-outline-primary' %>
      <%= link_to 'delete', meeting_action_path(@meeting,action), :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
  <div class="col-4">

    <div class="row">
      <div class="col-2">
          <%= cl_image_tag(action.user.image, :class => "rounded-circle", :width => 50, :height => 50,
       :crop => :thumb, :gravity => :face) %>
      </div>
      <div class="col pl-4">
        <p class="text-muted text-weight-light"><%= action.user.name %>
          <br>
          <span style="font-size:80%"><%= action.duedate.strftime('%d %b %Y') %></span>
        </p>
      </div>
    </div>

  </div>

</div>

<% end %>

<hr>

<%= form_for([@meeting, @meeting.actions.build], :as => :meeting_action) do |f| %>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-7 form-group">

  <form>
    <div class="form-group">
      <%= f.text_area :description, :class => "form-control", :placeholder => "Action..." %>

    </div>
    <div class="form-group">
      <%= f.date_field :duedate, :class => "form-control", :placeholder => 'Due date' %>

    </div>
    <div class="form-group">
      <%= f.submit "Create Action", :class => "btn btn-info btn-sm" %>
    </div>
  </form>

  </div>


  <div class="col-4">

    <div class="row">
      <div class="col-2">
          <%= cl_image_tag(@user.image, :class => "rounded-circle", :width => 50, :height => 50,
       :crop => :thumb, :gravity => :face) %>

      </div>
      <div class="col pl-4">
        <p class="text-muted text-weight-light"><%= @user.name %>
        </p>
      </div>
    </div>

  </div>
</div>
<% end %>
