<h3>Hosted meetings</h3>
<ul>
  <% @user.hostedMeetings.each do |meeting|  %>
    <li><%= link_to meeting.title, meeting_path(meeting) %></li>
  <% end %>
</ul>

<h3>All meetings</h3>
<ul>
  <% @user.meetings.each do |meeting|  %>
    <li><%= link_to meeting.title, meeting_path(meeting) %></li>
  <% end %>
</ul>
<h3>Actions</h3>
<ul>
  <% @user.actions.each do |action|  %>
    <li><%= action.description %>
      -
      <%= action.is_done %>
      -
      <%= link_to 'toggle', complete_action_path(action), :method => 'put' %>
    </li>
  <% end %>
</ul>
