
<h5>Meetings</h5>
<% if !@user.meetings.present? %>
  <p class="ml-5">Hurray! You do not have any meetings yet.</p>
<% end  %>

<% @user.meetings.each do |meeting|  %>
  <hr>
  <div class="row ml-2">
    <div class="col-1">
      <div class="alert-secondary text-center rounded-lg p-2 small">
        <%= meeting.start.strftime('%d %b') %>
      </div>

    </div>
    <div class="col-7">
      <p>
        <%= link_to meeting.title, meeting_path(meeting), :class => 'text-capitalize' %>
      </p>
      <p class="small text-muted">
        <%= meeting.description %>
      </p>

    </div>
    <div class="col-4 text-center small">

      <i class="fa fa-users mr-1 text-secondary"></i>
      <%= pluralize(meeting.users.count, 'participant') %>
      &#xb7;
      <i class="fa fa-bolt mr-1 text-secondary"></i>
      <%= pluralize(meeting.actions.count, 'action') %>

      <p>Host: <%= meeting.host.name %></p>

    </div>
  </div>


<% end %>

<br><br>

<h5>Actions</h5>

<% if !@user.actions.present? %>
  <p class="ml-5">Hurray! You do not have any actions yet.</p>
<% end  %>
<% (@user.actions.sort_by &:created_at).each do |action|  %>

<div class="row ml-2">
  <div class="col-1">
    <br><br>

  <% if action.is_done %>
    <i class="fa fa-check-circle text-info" style="font-size:30px"></i>
  <% else  %>
    <i class="fa fa-spinner text-secondary" style="font-size:30px"></i>
  <% end  %>
  </div>
  <div class="col-9">
    <hr>
    <p><%= simple_format action.description %></p>
    <p class="badge badge-secondary"><%= action.duedate.strftime('%a, %d %b %Y')  %></p>

    <div class="float-right">
      <%
        mark_as_text = "mark as completed"
        if action.is_done
          mark_as_text = "mark as pending"
        end
      %>

      <%= link_to mark_as_text, complete_action_path(action), :method => 'put', :class => 'btn btn-sm btn-outline-primary' %>
      <%= link_to 'delete', meeting_action_path(action.meeting,action), :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
  <div class="col-2">

  </div>
</div>

<% end %>
