<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
<div class="row">
  <div class="container col-lg-6 col-md-8 col-sm-10">
    <div class="shadow-lg p-3 mb-5 bg-white rounded mt-5">
      <h3 class="text-center">Sign Up</h3>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class=> "form-control"%>
      </div>
      <div class="form-group">

        <%= f.label :email %>
        <%= f.email_field :email, :class=> "form-control"%>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class=> "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class=> "form-control"%>
      </div>
      <%= f.submit "Sign up!", :class=>"btn btn-info"%>
    </div>
  </div>

</div>

<% end %>
