<!DOCTYPE html>
<html>
  <head>
    <title>MindMeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.svg" width="30" height="30" alt="" class="d-inline-block align-top">

        Mind Meet
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if @current_user.present? %>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "AddMeeting", new_meeting_path, :class => 'nav-link' %>
            </li>
          </ul>
        </div>
      <% end %>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <% if @current_user.present?  %>
            <span class="navbar-text">
              <%= @current_user.name %>
            </span>
            <li class="nav-item">
              <%= link_to "Logout", login_path, :method => 'delete', :class => 'nav-link' %>
            </li>
          <% else  %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_path, :class => 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, :class => 'nav-link'%>
            </li>
          <% end  %>
        </ul>
      </div>
    </nav>

    <% if @user.present? && @user.name.present? %>
      <div class="container-fluid">

        <div class="row">
          <!-- Sidebar -->
          <div class="col-3 text-center">
            <div class="fill p-3 mt-3 shadow-lg bg-white rounded">

                <img src="/assets/profile/<%= @user.name %>.jpg" class="rounded-circle avatar-large" onerror="this.src = '/assets/profile/profile.jpg'">

              <br>
              <h5><%= @user.name %></h5>
              <br>

              <div class="progress" style="height: 8px;">
                <div class="progress-bar" role="progressbar" style="width: <%= @actions_notdone_percent %>%;" aria-valuenow="<%= @actions_notdone_percent %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

              <br><br>

              <h6>Actions</h6>

              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Pending

                  <span class="badge badge-warning badge-pill"><%= @actions_notdone %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Completed
                  <span class="badge badge-success badge-pill"><%= @actions_done %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  All
                  <span class="badge badge-secondary badge-pill"><%= @user.actions.count %></span>
                </li>
              </ul>

              <br><br>

              <h6>Meetings</h6>

              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="#">This Week</a>
                  <span class="badge badge-primary badge-pill"><%= @meetings_this_week %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  This Month
                  <span class="badge badge-primary badge-pill"><%= @meetings_this_month %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Past
                </li>
              </ul>
            </div>
          </div>

          <!-- Main content -->
          <div class="col-9">
            <div class="fill p-3 pl-4 mt-3 shadow-lg bg-white rounded">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else  %>
        <%= yield %>
      <% end %>

      <footer>
        copy right
      </footer>

    </body>
  </html>
